{% block falara_translate_modal %}
<div class="falara-translate-modal">
    <div class="falara-translate-modal__summary">
        <p>{{ $t('falara-translation-manager.modal.itemCount', { count: items.length }) }}</p>
    </div>

    <div class="falara-translate-modal__languages">
        <h3>{{ $t('falara-translation-manager.modal.targetLanguages') }}</h3>
        <div v-for="lang in availableLanguages" :key="lang.id" class="falara-translate-modal__lang-option">
            <mt-checkbox
                :label="lang.name"
                :checked="selectedLanguages.includes(lang.id)"
                @change="toggleLanguage(lang.id)"
            />
        </div>
    </div>

    <div class="falara-translate-modal__glossary">
        <mt-select
            :label="$t('falara-translation-manager.modal.glossary')"
            v-model="selectedGlossary"
            :options="glossaryOptions"
        />
    </div>

    <div class="falara-translate-modal__advanced">
        <button class="falara-translate-modal__toggle" @click="showAdvanced = !showAdvanced">
            {{ $t('falara-translation-manager.modal.advancedOptions') }}
            <span>{{ showAdvanced ? '▲' : '▼' }}</span>
        </button>
        <div v-if="showAdvanced" class="falara-translate-modal__advanced-content">
            <mt-text-field
                :label="$t('falara-translation-manager.modal.domain')"
                v-model="form.domain"
            />
            <mt-text-field
                :label="$t('falara-translation-manager.modal.tone')"
                v-model="form.tone"
            />
            <mt-select
                :label="$t('falara-translation-manager.modal.quality')"
                v-model="form.quality"
                :options="qualityOptions"
            />
            <mt-textarea
                :label="$t('falara-translation-manager.modal.instructions')"
                v-model="form.instructions"
            />
        </div>
    </div>

    <div class="falara-translate-modal__actions">
        <mt-button variant="ghost" @click="$emit('cancel')">
            {{ $t('falara-translation-manager.modal.cancel') }}
        </mt-button>
        <mt-button
            variant="primary"
            :disabled="selectedLanguages.length === 0"
            @click="onTranslate"
        >
            {{ $t('falara-translation-manager.modal.translate') }}
        </mt-button>
    </div>
</div>
{% endblock %}
