{% block falara_status_badge %}
<div class="falara-status-badge" :class="badgeClass" :title="tooltipText">
    <span class="falara-status-badge__dot"></span>
    <span class="falara-status-badge__label">{{ labelText }}</span>
</div>
{% endblock %}
